body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;

  background-color: #ffffff;
}

.visually-hidden {
  display: none;
}

a {
  text-decoration: none;
}

ul,
p,
img,
h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
}

.reg__list,
.nav-header__list,
.registration__info,
.power__list,
.manufacturer__list,
.sort__list,
.list,
.section-info-list,
.pagination {
  list-style: none;
} /* отключение буллитов списка !!ДОБАВИТЬ ОСТАЛЬНЫЕ СПИСКИ СТРАНИЦ!! */

/* стили для header index.html */
.header {
background-color: #f3f7f8;
} /* глобальный фон футера */

.header-top {
  background-color: #293449;
} /* фон футера в самом верху */

.header-logo {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

 .header-logo__item {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
} /* фон логотипа футера и шрифт */

.item-search_input {
  background-color: #293449;
  border: none;
}

.item-search_input::placeholder {
  color: #ffffff;
} /* стили для поля поиска */

.header-items__order {
  background-color: #63a63e;
} /* цвет блока оформления заказа */

.header-info__txt {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts__tel {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-contacts__addr {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #32425c;
}

.reg__list a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}/* текст в хедере, телефон, адрес, кнопки входа и регистрации */

.nav-header {
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
}

.analog-text-header {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
} /*цвет блока и  одинаковый текст в навигации хедера */


.header-logo:hover {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

.item-search_input:hover,
.item-search_input:focus,
.header-items__bookmarks:hover,
.header-items__recycle:hover,
.header-items__bookmarks:focus,
.header-items__recycle:focus {
  background-color: #212a3a;
}

.item-search_input:focus {
  background-color: #ffffff;
}

.header-items__bookmarks:active,
.header-items__recycle:active {
  background-color: #161d29;
}

.header-items__order:hover,
.header-items__order:focus {
  background-color: #5fbb2d;
}

.header-items__order:active {
  background-color: #518534;
}

.reg__item-btn__text:hover {
  color: #ee3643;
}

.reg__item-btn__text:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-header__item:hover,
.nav-header__item:focus {
  background-color: #293449;
}

.nav-header__item:active {
  background-color: #1d2739;
} /* псевдоклассы для оживления элементов хедера */

/*дополнительные стили для catalog.html */
.registration__login {
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.registration__info a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.active-style:hover {
  color: #ee3643;
}

.registration__login:active {
  color: rgba(0, 0, 0, 0.3);
}

.active-style:active {
  color: rgba(50, 66, 92, 0.3);
}

/* стили для main index.html */
.tile--yellow-dark {
  background-color: #ffbf47;
}

.tile--blue {
  background-color: #3bbce3;
}

.img-slider {
  background-color: #797c7e;
} /* на случай, если картинка не загрузится, то серый фон, чтобы оттенить текст*/

.tile--purple {
  background-color: #dc91d8;
}

.tile--green {
  background-color: #8ed78f;
}

.tile--yellow-light {
  background-color: #ffc047;
} /* плитки слайдера */

.text-tiles-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background: rgba(0, 0, 0, 0.1);
}

.text-tiles-link:hover {
  background: rgba(0, 0, 0, 0.2);
}

.text-tiles-link:active{
  background: rgba(0, 0, 0, 0.3);
} /* стили текста плиток и фонов при покое, наведении, клике */

.text-link-slider {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.text-link-slider:hover {
  background-color: #ca2c37;
}

.text-link-slider:active {
  background-color: #ba2732;
} /* стили кнопок на слайдере при покое, наведении, клике*/

.tile__item {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.img-slider-upper {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-heading {
  background-color: #f9f5f0;
}
.section-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.text-section-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
} /*стили для заголовков секций и ссылок*/

.name-cards {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.cards__old-price {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
  text-decoration: line-through;
}/* стили для старого прайса каточек товара*/

.cards__discount {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.img-man:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.img-man:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.img-man img:active {
  opacity: 0.3;
} /* стили карточек производителя пр наведении, клике*/

.section-info {
  background-color: #ffffff;
} /* цвет фона для секции компания техномарт*/

.section-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
} /* стили текста для заголовков секций популярные товары и популярные производители*/

.section-info-list {
  list-style: none;
  line-height: 20px;
  color: #000000;
} /* стили текста для списка секции компания техномарт*/

.section-info__link-red {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
} /* стили текста и фона для ссылки подробнее о компании секции компания техномарт*/

.section-info__btn-red {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
} /* стили текста и фона для кнопки напишите нам секции контакты*/

.section-service {
  background-color: #f4f7f9;
}

.section-title-text {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
} /* стили для заголовков текста секций*/

.section-paragraph-text {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
} /* стили текста для параграфов секций сервисы, доставка, гарантия, кредит, компания техномарт, контакты*/

.title-tab-text {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 400;
  color: #32425c;
} /* стили текста для заголовков секции табов*/

.list__item a {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
} /* стили текста  и фона для ссылок табов */

.list__item a:hover {
  background-color: #293449;
}

.list__item a:focus {
  color: #32425c;

  background-color: #ffffff;
} /* стили текста и фона для ссылок табов пр наведении и клике */

.tab-button-text {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ff5357;
}

/* стили для main catalog.html */
.breadcrumbs__item a,
.background-filter,
.sort__caption,
.sort__item,
.pagination__item a {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
} /* текст хлебные крошки, фильтр, сортировка, пагинация*/

.filter-font {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
} /*стили для черного текста фильтра*/


.manufacturer__item,
.power__item {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.background-filter,
.filter-range,
.section-sort {
  background-color: #f7f3ec;
} /* бежевый фон для блоков текста фильтра, ползунка, сортировки*/

.sort__item a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort__item a:hover {
  color: #000000;
  text-decoration: underline #ee3643;
  border-bottom: none;
}

.sort__item a:active {
  color: #ee3643;
  text-decoration: none;
  border-bottom: none;
} /* стили элементов сортировки при наведении, клике*/


.name-page-title {
  background-color: #f2f6f8;
}

.section-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
} /* заголовок страницы */

.perforator-name {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
} /* стили для заголовка карточки*/

.perforator__old-price {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
  text-decoration: line-through;
}

.perforator__discount {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
} /* стили цены карточек товара */


.section-about-perforators {
  background-color: #f2f6f8;
}

/* стили для footer*/
.footer-site {
  background-color: #32425c;
} /* глобальный фон футера */

.copyright {
  background-color: #293449;
} /* темно-синий нижний фон футера */

.nav-footer__list,
.products__list,
.social__list {
  list-style: none;
} /* отключение буллитов списка футера*/

.footer-logo {
  font-size: 23px;
  line-height: 23px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
} /* нижнее лого */

.analog-text-footer {
  color: #ffffff;
} /* белый цвет текста списка ссылок */

.text-footer--yellow {
  color: #ffd180;
} /* желтый цвет списка ссылок */

.copyright {
  font-size: 16px;
  line-height: 18px;
} /* размер шрифта копирайта */

.social__item:hover,
.social__item:active {
  background-color: #ee3643;
} /* красная подсветка фона иконок соцсетей  при наведении и клике*/

.nav-footer__item:hover,
.products__item:hover,
.text-footer--yellow:hover {
  text-decoration: underline;
} /* подчеркивание ссылок при наведении */

.active-text-nav:active {
  color: rgba(241, 245, 247, 0.5);
}/* изменение текста пунктов навигации футера при клике */  /* ??подчеркивание при клике?? */

.active-text-product:active {
  color: rgba(255, 209, 128, 0.5);
}/* изменеине текста пунктов продуктов футера при клике */  /* ??подчеркивание при клике?? */

.copyright .text-footer--yellow:active {
  color: #ee3643;
} /* изменение цвета с белого на красный ссылок на почту и ссылку на сайт при клике*/


/*СЕТКА И ФЛЕКСЫ*/

.body-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.retreat-wrapper {
  margin-left: 130px;
  margin-right: 130px;
}

.header {
  min-height: 320px;
}

.header-top {
  max-height: 42px;
  padding-left: 130px;
  padding-right: 130px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.header-logo {
  min-width: 220px;
  text-align: center;
  padding-top: 11px;
  margin-left: 0;
}

.header-items__search {
  width: 270px;
}

.header-items__bookmarks,
.header-items__recycle,
.header-items__order {
  width: 150px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 10px;
} /*верхняя часть хедера*/

.header-middle {
  margin-top: 46px;
  margin-bottom: 44px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.header-info {
  width: 267px;
  min-height: 60px;
  margin-left: 53px;
}


.header-contacts {
  width: 270px;
  text-align: center;
}

.header-contacts__tel{
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 71px;
  padding-right: 49px;
  border: 3px solid #ffffff;
}

.header-contacts__addr {
  margin-top: 10px;
}

.reg__list {
  width: 281px;
  margin-left: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reg__item-entry {
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 48px;
  padding-right: 27px;
}

.reg__item-reg {
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 25px;
  padding-right: 25px;
} /*средняя часть хедера*/

.nav-header__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-header__item {
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 31px;
  padding-right: 31px;
}
/*нижняя часть хедера*/

/* main */
/*часть main для index.html*/
.section-info {
  margin-top: 82px;
  margin-bottom: 86px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.info-contacts {
  padding-left: 120px;
  width: 300px;
}

.about-technomart p:nth-of-type(1) {
  margin-top: 38px;
}

.about-technomart p:nth-of-type(2) {
  margin-top: 36px;
}

.section-info-list {
  margin-top: 25px;
}

.section-info-list li {
  margin-top: 21px;
}

.section-info-list li:nth-child(1) {
  margin-top: 0px;
}

.section-info-list li:nth-child(3) {
  margin-bottom: 37px;
}

.section-info__link-red {
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 41px;
  padding-right: 40px;
} /*левая часть секции section-info*/

.info-contacts p:nth-of-type(1) {
  padding-top: 38px;
  padding-bottom: 36px;
}

.info-contacts img {
  margin-bottom: 40px;
}

.section-info__btn-red {
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 63px;
  padding-right: 59px;
  border: 0px;
}/*правая часть секции section-info*/


/*футер*/
.footer-site {
min-height: 298px;
}

.footer-address {
  margin-bottom: 53px;
  margin-left: 130px;
  margin-right: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-logo {
  width: 220px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.footer-addr {
  width: 330px;
  padding-top: 32px;
}

.nav-footer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-footer__item {
  margin-top: 40px;
  margin-left: 60px;
}

.nav-footer__item:nth-child(1) {
  margin-left: 68px;
}

.products__list {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products__item {
  margin-left: 60px;
}

.products__item:nth-child(1) {
  margin-left: 91px;
}/*верхняя часть футера*/

.copyright {
  min-height: 105px;
  padding-left: 130px;
  padding-right: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyright__text {
  width: 228px;
  margin-top: 39px;
}

.social {
  width: 130px;
  margin-top: 39px;
}

.reverse-link {
  width: 284px;
  margin-top: 39px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reverse-link__email {
  width: 135px;
}

.reverse-link__site {
  width: 96px;
} /*конец футера*/



/*CATALOG.HTML*/

/*часть хедера для catalog.html*/
.registration {
  margin-left: 51px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.registration__login {
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 47px;
  padding-right: 66px;
}

.registration__info {
  width: 208px;
  margin-top: 8px;
  margin-left: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*часть main для catalog.html*/

.breadcrumbs {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.breadcrumbs__item:nth-child(2) {
  margin-left: 41px;
}

.breadcrumbs__item:nth-child(3) {
  margin-left: 39px;
}

.breadcrumbs__item:nth-child(4) {
  margin-left: 43px;
} /*хлебные крошки*/

.section-title {
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 30px;
  padding-right: 742px;
}

.section-filter {
margin-top: 20px;
} /*секция фильтр*/

.background-filter {
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 149px;
}

fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
} /*рамка fieldset*/

.power {
  border: none;
}

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
} /*обертка для блоков фильтр, сортировки и секции с товаром*/


.section-sort-man {
  width: 700px;
  margin-left: 20px;
  margin-top: 20px;
} /*обертка для блоков сортировки и секции с товаром*/

.section-sort {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
} /*секция сортировки*/

.sort__caption {
  padding-top: 15px;
  padding-left: 19px;
  padding-right: 139px;
} /*заголовок секции*/

.sort__list {
  padding-top: 11px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}/*список сортировки*/

.sort__item:nth-child(1) {
  padding-right: 71px;
}

.sort__item:nth-child(2) {
  padding-right: 65px;
}

.sort__item:nth-child(3) {
  padding-right: 106px;
}

.section-perforators > .perforators__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}/*список карточек перфораторов*/

.perforators__item {
  margin-top: 20px;
  text-align: center;
  border: 1px solid #e5e5e5;
}/*карточка перфоратора*/

.perforator-name {
  margin-top: 10px;
}/*название перфоратора*/

.perforator__old-price {
  padding-top: 10px;
} /*старый прайс перфоратора*/

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.pagination__item {
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 52px;
  margin-bottom: 60px;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
}

.pagination__item:nth-child(4) {
  padding-left: 31px;
  padding-right: 31px;
}

.pagination__item:hover {
  border: 1px solid #bdc6ca;
}

.pagination__item:active {
  border: 1px solid #ee3643;
}

.pagination__item:nth-child(1) {
  background-color: #ee3643;
  border: 1px solid #ee3643;
} /*пагинация*/

.section-about-perforators {
  padding-left: 130px;
  padding-right: 130px;
}

.about-perforators {
  padding-top: 65px;
  margin-bottom: 31px;
}

.paragraph-perforators {
  padding-bottom: 73px;
} /*конец main catalog.html*/









