body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 130px;
  padding-right: 130px;
}

.retreat-wrapper {
  width: 940px;
  margin: 0 auto;
}

/* стили для header index.html */
.header {
background-color: #f3f7f8;
} /* глобальный фон футера */

.header-top {
  background-color: #293449;
} /* фон футера в самом верху */

.header-logo__item {
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

 .header-logo__item {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
} /* фон логотипа футера и шрифт */

.item-search_input {
  background-color: #293449;
  border: none;
}

.item-search_input::placeholder {
  color: #ffffff;
} /* стили для поля поиска */



.header-info__txt {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts__tel {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-contacts__addr {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #32425c;
}

.reg__list a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.reg__list a:hover {
  color: #ee3643;
}

.reg__list a:active {
  color: rgba(0, 0, 0, 0.3);
}
/* текст в хедере, телефон, адрес, кнопки входа и регистрации */

.nav-header {
  background-color: #32425c;
}

.analog-text-header {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
} /*цвет блока и  одинаковый текст в навигации хедера */


.header-catalog .header-logo__item:hover {
  background-color: #ca2c37;
}

.header-catalog .header-logo__item:active {
  background-color: #ba2732;
}

.reg__item-btn__text:hover {
  color: #ee3643;
}

.reg__item-btn__text:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-header__item a:hover,
.nav-header__item a:focus {
  background-color: #293449;
}

.nav-header__item a:active {
  background-color: #1d2739;
  border-color: #1d2739;
  color: #a8abaf;
} /* псевдоклассы для оживления элементов хедера */

/*дополнительные стили для catalog.html */

.registration__login {
  background-color: #ffffff;
}

.active-login {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.registration__info a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.active-style:hover {
  color: #ee3643;
}

.active-login:active {
  opacity: 0.3;
}

.active-style:active {
  color: rgba(50, 66, 92, 0.3);
}

/* стили для main index.html */
.tile--yellow-dark {
  background-color: #ffbf47;
}

.tile--blue {
  background-color: #3bbce3;
}

.tile--purple {
  background-color: #dc91d8;
}

.tile--green {
  background-color: #8ed78f;
}

.tile--yellow-light {
  background-color: #ffc047;
} /* плитки слайдера */

.text-tiles-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background: rgba(0, 0, 0, 0.1);
}

.text-tiles-link:hover {
  background: rgba(0, 0, 0, 0.2);
}

.text-tiles-link:active{
  background: rgba(0, 0, 0, 0.3);
} /* стили текста плиток и фонов при покое, наведении, клике */

.text-link-slider {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.text-link-slider:hover {
  background-color: #ca2c37;
}

.text-link-slider:active {
  background-color: #ba2732;
} /* стили кнопок на слайдере при покое, наведении, клике*/

.tile__item {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.img-slider-upper {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-heading {
  background-color: #f9f5f0;
}
.section-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.text-section-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
} /*стили для заголовков секций и ссылок*/

.name-cards {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.cards__old-price {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
  text-decoration: line-through;
}/* стили для старого прайса каточек товара*/

.cards__price,
.perforator__price {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.man__item a:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.man__item a:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.man__item a:active {
  opacity: 0.3;
} /* стили карточек производителя пр наведении, клике*/

.section-info {
  background-color: #ffffff;
} /* цвет фона для секции компания техномарт*/

.section-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
} /* стили текста для заголовков секций популярные товары и популярные производители*/

.section-info-list {
  list-style: none;
  line-height: 20px;
  color: #000000;
} /* стили текста для списка секции компания техномарт*/

.about-technomart a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
} /* стили текста и фона для ссылки подробнее о компании секции компания техномарт*/

.info-contacts button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
} /* стили текста и фона для кнопки напишите нам секции контакты*/

.section-service {
  background-color: #f4f7f9;
}

.section-title-text {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
} /* стили для заголовков текста секций*/

.section-paragraph-text {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
} /* стили текста для параграфов секций сервисы, доставка, гарантия, кредит, компания техномарт, контакты*/

.title-tab-text {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 400;
  color: #32425c;
} /* стили текста для заголовков секции табов*/

.tabs-service label {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;

  background-color: #32425c;
} /* стили текста  и фона для ссылок табов */

.tabs-service label:hover {
  background-color: #293449;
}


/* стили текста и фона для ссылок табов пр наведении и клике */

.tab-button-text {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ff5357;
}

/* стили для main catalog.html */
.breadcrumbs__item a,
.background-filter,
.sort__caption,
.sort__item button,
.pagination__item a {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
} /* текст хлебные крошки, фильтр, сортировка, пагинация*/

.filter-font {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
} /*стили для черного текста фильтра*/


.manufacturer__item,
.power__item {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.background-filter,
.filter-range,
.section-sort {
  background-color: #f7f3ec;
} /* бежевый фон для блоков текста фильтра, ползунка, сортировки*/

.sort__item button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sort__item button:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort__item button:active {
  color: #ee3643;
  text-decoration: none;
  border: none;
} /* стили элементов сортировки при наведении, клике*/


.name-page-title {
  background-color: #f2f6f8;
}

.section-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
} /* заголовок страницы */

.perforator-name {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
} /* стили для заголовка карточки*/

.perforator__old-price {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
  text-decoration: line-through;
}

.perforator__discount {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
} /* стили цены карточек товара */


.section-about-perforators {
  background-color: #f2f6f8;
}

/* стили для footer*/
.footer-site {
  background-color: #32425c;
} /* глобальный фон футера */

.copyright {
  background-color: #293449;
} /* темно-синий нижний фон футера */

.nav-footer__list,
.products__list,
.social__list {
  list-style: none;
} /* отключение буллитов списка футера*/

.footer-logo {
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
} /* нижнее лого */

.analog-text-footer {
  color: #ffffff;
} /* белый цвет текста списка ссылок */

.text-footer--yellow {
  color: #ffd180;
} /* желтый цвет списка ссылок */

.copyright {
  font-size: 16px;
  line-height: 18px;
} /* размер шрифта копирайта */

.footer-social-icon:hover,
.footer-social-icon:active {
  background-color: #ee3643;
} /* красная подсветка фона иконок соцсетей  при наведении и клике*/

.nav-footer__item:hover,
.products__item:hover,
.text-footer--yellow:hover {
  text-decoration: underline;
} /* подчеркивание ссылок при наведении */

.active-text-nav:active {
  color: rgba(241, 245, 247, 0.5);
}/* изменение текста пунктов навигации футера при клике */  /* ??подчеркивание при клике?? */

.active-text-product:active {
  color: rgba(255, 209, 128, 0.5);
}/* изменеине текста пунктов продуктов футера при клике */  /* ??подчеркивание при клике?? */

.copyright .text-footer--yellow:active {
  color: #ee3643;
} /* изменение цвета с белого на красный ссылок на почту и ссылку на сайт при клике*/


/*СЕТКА И ФЛЕКСЫ*/

.body-wrapper {
  width: 1200px;
  margin: 0 auto;
}


.header {
  min-height: 320px;
}

.header-top {
  height: 42px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.header-logo__item {
  display: block;
  width: 220px;
  padding-top: 11px;
  padding-bottom: 8px;
}

.input-search {
  position: relative;
  width: 270px;
  height: 42px;
}

.item-search_input {
  position: absolute;
  padding-top: 2px;
  padding-left: 48px;
  width: 100%;
  height: 100%;
  border: none;
}

.input-submit {
  content: "";
  border: none;
  position: absolute;
  width: 17px;
  height: 17px;
  top: 12px;
  right: 236px;
  opacity: 0.3;
  background-color: #293449;
  background-position: 0 0;
  background-image: url("/img/icon-search.svg");
  background-repeat: no-repeat;
}

.item-search_input:hover ~ .input-submit {
  content: "";
  border: none;
  position: absolute;
  width: 17px;
  height: 17px;
  top: 12px;
  right: 236px;
  opacity: 1;
  background-color: #212a3a;
  background-position: 0 0;
  background-image: url("/img/icon-search.svg");
  background-repeat: no-repeat;
} /*смена цвета svg при наведении*/

.item-search_input:hover {
  background-color: #212a3a;
} /*смена цвета фона при наведении*/


.item-search_input:focus ~ .input-submit {
  content: "";
  border: none;
  position: absolute;
  width: 17px;
  height: 17px;
  top: 12px;
  right: 236px;
  opacity: 1;
  background-color: #ffffff;
  background-position: 0 0;
  background-image: url("/img/icon-search-active.svg");
  background-repeat: no-repeat;
}

.item-search_input:focus {
  background-color: #ffffff;
  border-color: #ffffff;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*стили для формы поиска*/



.header-items__bookmarks,
.header-items__recycle,
.header-items__order {
  display: block;
  width: 150px;
  padding-top: 13px;
  padding-bottom: 11px;

  background-color: #293449;
}


.header-items__order {
  background-color: #63a63e;
}

.header-items__bookmarks:hover,
.header-items__bookmarks:focus,
.header-items__recycle:hover,
.header-items__recycle:focus {
  width: 150px;
  padding-top: 13px;
  padding-bottom: 11px;
  background-color: #212a3a;
}


.header-items__bookmarks:active,
.header-items__recycle:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header-items__order:hover,
.header-items__order:focus {
  background-color: #5fbb2d;
}

.header-items__order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.6);
}/* цвет блока оформления заказа */

/*иконки*/

.header-items__bookmarks {
  position: relative;
}

.header-items__recycle {
  position: relative;
}

.bookmarks-text {
  padding-left: 44px;
}

.recycle-text {
  padding-left: 50px;
}

.order-text {
  padding-left: 20px;
}

.bookmarks-text::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  left: 17px;
  opacity: 0.3;
  background-position: 0 0;
  background-image: url("/img/icon-bookmark.svg");
  background-repeat: no-repeat;
}

.recycle-text::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 18px;
  opacity: 0.3;
  background-position: 0 0;
  background-image: url("/img/cart-icon.svg");
  background-repeat: no-repeat;
}

.header-items__bookmarks:hover .bookmarks-text::before,
.header-items__recycle:hover .recycle-text::before {
  opacity: 1;
}

.header-items__bookmarks:active .bookmarks-text::before,
.header-items__recycle:active .recycle-text::before {
  opacity: 0.5;
}


/*верхняя часть хедера*/

.header-middle {
  width: 940px;
  margin-top: 47px;
  margin-bottom: 39px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
}

.header-info {
  margin-top: 3px;
  width: 196px;
  min-height: 60px;
  margin-left: 53px;
  margin-right: 71px;
}


.header-contacts {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  text-align: center;
}

.header-contacts__tel {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: stretch;
  width: 264px;
  height: 39px;
  border: 3px solid #ffffff;
}

.header-contacts__tel .icon-tel {
  padding-left: 71px;
}

.icon-tel::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: 10px;
  left: 13px;
  opacity: 1;
  background-position: 0 0;
  background-image: url("/img/icon-phone.svg");
  background-repeat: no-repeat;
}

.header-contacts__addr {
  margin-top: 4px;
}

.reg__list {
  width: 281px;
  margin-left: 69px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.reg__item-entry {
  width: 121px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: stretch;
}

.reg__item-entry span {
  padding-left: 47px;
}

.item-entry__icon::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 14px;
  opacity: 0.3;
  background-position: 0 0;
  background-image: url("/img/icon-login.svg");
  background-repeat: no-repeat;
} /*добавлена иконка в кнопку войти*/

.reg__item-entry:hover .item-entry__icon::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 14px;
  opacity: 1;
  background-position: 0 0;
  background-image: url("/img/icon-login.svg");
  background-repeat: no-repeat;
} /*при наведении на кнопку войти иконка меняет цвет на синий*/

.reg__item-entry:active .item-entry__icon::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 14px;
  opacity: 0.3;
  background-position: 0 0;
  background-image: url("/img/icon-login.svg");
  background-repeat: no-repeat;
}


.reg__item-reg {
  width: 150px;
  height: 45px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
} /*средняя часть хедера*/

.nav-header__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: flex-start;

}

.nav-header__item a {
  padding-top: 20px;
  padding-bottom: 16px;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  justify-content: stretch;
  border-bottom: 5px solid #293449;
}

.item-main {
  padding-left: 52px;
  padding-right: 34px;
}

.item-company,
.item-catalog,
.item-news {
  padding-left: 29px;
  padding-right: 31px;
}

.item-special {
  padding-left: 28px;
  padding-right: 31px;
}

.item-deliv {
  padding-left: 31px;
  padding-right: 31px;
}

.item-contact {
  padding-left: 31px;
  padding-right: 53px;
}
/*нижняя часть хедера*/

/* main */

.tiles {
  margin-top: 59px;
  margin-bottom: 53px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
}


.tile-column {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
}

.tile__size {
  width: 300px;
  height: 123px;
}

.tile__item {
  padding-top: 22px;
  padding-bottom: 12px;
  padding-left: 22px;
} /*отступы внутри плитки для названий*/


.text-tiles-link {
  width: 135px;
  height: 38px;
  margin-left: 24px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile--yellow-dark {
  position: relative;
}

.flag-new::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 59px;
  top: 0px;
  right: 0px;
  z-index: 4;
  background-position: 0 0;
  background-image: url("/img/new-flag.png");
  background-repeat: no-repeat;
} /*универсальная метка new для тайла и товаров*/

.tile--yellow-dark p::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 65px;
  top: 31px;
  right: 43px;
  background-position: 0 0;
  background-image: url("/img/icon-tile1.svg");
  background-repeat: no-repeat;
}

.tile--blue {
  position: relative;
}

.tile--blue p::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 61px;
  top: 34px;
  right: 28px;
  background-position: 0 0;
  background-image: url("/img/icon-tile2.svg");
  background-repeat: no-repeat;
}

.tile--purple {
  position: relative;
}

.tile--purple p::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 62px;
  top: 32px;
  right: 31px;
  background-position: 0 0;
  background-image: url("/img/icon-tile3.svg");
  background-repeat: no-repeat;
}

.tile--green {
  position: relative;
}

.tile--green p::before {
  content: "";
  position: absolute;
  width: 59px;
  height: 72px;
  top: 27px;
  right: 45px;
  background-position: 0 0;
  background-image: url("/img/icon-tile4.svg");
  background-repeat: no-repeat;
}

.tile--yellow-light {
  position: relative;
}

.tile--yellow-light p::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 63px;
  top: 33px;
  right: 31px;
  background-position: 0 0;
  background-image: url("/img/icon-tile5.svg");
  background-repeat: no-repeat;
}

/* размеры кнопок-ссылок в плитках*/

.tile--slider {
  width: 620px;
  margin-top: 20px;
  height: 266px;
  position: relative;
  overflow: hidden;
}

.radio-button {
  position: absolute;
}

.radio-button input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  margin-bottom: 10px;
  text-align: center;
  z-index: 2;
}

.slider-next label,
.slider-prev label {
  position: absolute;
  width: 22px;
  height: 40px;
  top: 114px;
  cursor: pointer;
  z-index: 2;
}

.slider-prev label {
  content: "";
  left: 25px;
  background-position: 0 0;
  background-image: url("/img/icon-left-slider.svg");
  background-repeat: no-repeat;
}

.slider-next label {
  content: "";
  right: 20px;
  background-position: 0 0;
  background-image: url("/img/icon-right-slider.svg");
  background-repeat: no-repeat;
}

.slider-controls {
  margin-top: 213px;
  margin-left: 296px;
}

.slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.slider-controls label:nth-child(2) {
  margin-left: 5px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #ee3643;
}

#btn-1:checked ~ .slides {
  transform: translate(0px);
}

#btn-2:checked ~ .slides {
  transform: translate(-620px);
}

.slides {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  width: 200%;
}

.tile-drill img {
  display: block;
  background-color: #797c7e;
} /*если картинка слайдера не загрузится - юз серый фон*/


.tile-drill p {
  position: absolute;
  left: 24px;
  bottom: 188px;
} /*размещение параграфа на изображении слайдера */

.text-link-slider {
  width: 195px;
  height: 38px;
  position: absolute;
  left: 25px;
  top: 206px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: stretch;
  border-radius: 3px;
}/*размещение ссылки открыть каталог на изображении слайдера */

.text-link-slider span {
  margin-top: 12px;
  margin-left: 50px;
}

.tile-perforator {
  position: relative;
}

.tile-perforator p {
  position: absolute;
  left: 24px;
  bottom: 188px;
}

/*слайдер внутри с плитками*/


.section-heading {
  height: 89px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section-heading h2 {
  margin-top: 2px;
  margin-left: 28px;
}

.text-section-link {
  width: 253px;
  height: 38px;
  margin-right: 24px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
} /*стили для блоков названи секций, заголовков и ссылок*/

.cards {
  margin-top: 20px;
  margin-bottom: 21px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: normal;
  justify-content: space-between;
}

.cards__item {
  position: relative;
  width: 218px;
  height: 316px;
  text-align: center;
  border: 1px solid #e5e5e5;
}/*карточка перфоратора*/

.cards-container {
  width: 218px;
  height: 170px;
}

.name-cards {
  padding-left: 2px;
  margin-top: 9px;
}/*название перфоратора*/

.cards__old-price {
  padding-top: 13px;
  padding-left: 3px;
} /*старый прайс перфоратора*/

.cards__price {
  padding-top: 10px;
  content: "";
  position: absolute;
  width: 141px;
  height: 38px;
  bottom: 9px;
  right: 36px;
  background-position: 0 0;
  background-image: url("/img/icon-price.svg");
  background-repeat: no-repeat;
} /*иконка цены перфоратора*/

.man__list {
  margin-bottom: 85px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.man__item {
  margin-top: 20px;
 } /*ширина блоков списка*/

.man__item  a {
  width: 218px;
  height: 143px;
  border: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
} /*ширина ссылки списка производителей*/

.man__item:nth-of-type(2) img {
  margin-bottom: 3px;
}

.man__item:nth-of-type(3) img {
  margin-bottom: 5px;
}

.man__item:nth-of-type(4) img {
  margin-bottom: 13px;
  margin-right: 1px;
}

.man__item:nth-of-type(5) img {
  margin-top: 3px;
  margin-left: 5px;
}

.man__item:nth-of-type(6) img {
  margin-right: 3px;
}

.man__item:nth-of-type(7) img {
  margin-left: 1px;
}

.man__item:nth-of-type(8) img {
  margin-bottom: 5px;
  margin-left: 5px;
}

.section-service {
  height: 522px;
  overflow: hidden;
  position: relative;
}

.section-service h2 {
  padding-top: 67px;
}


.radio-service {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: stretch;
  overflow: hidden;
}

.radio-service input[type="radio"] {
  display: none;
}


.tabs-service::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  top: 192px;
  left: 360px;
  background-position: 0 0;
  background-image: url("/img/shadow.png");
  background-repeat: no-repeat;
}

.tabs-service {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
}

.tabs-service label {
  width: 218px;
  height: 61px;
  padding-left: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  color: #ffffff;
  background-color: #32425c;
  border-bottom: 1px solid #405069;
}

#delivery:checked ~ .tabs-service label[for="delivery"],
#warranty:checked ~ .tabs-service label[for="warranty"],
#credit:checked ~ .tabs-service label[for="credit"] {
  color: #32425c;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

#delivery:checked ~ .tabs-body {
  transform: translateY(0px);
}

#warranty:checked ~ .tabs-body {
  transform: translateY(-300px);
}

#credit:checked ~ .tabs-body {
  transform: translateY(-600px);
}


.tabs-list {
  display: flex;
  flex-direction: column;
}


.tab-button-text {
  margin-top: 31px;
  width: 195px;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  justify-content: center;
}

.tabs-body {
  width: 630px;
  height: 300%;
  margin-top: 70px;
  padding-left: 80px;
  position: relative;
}

.tabs-body section {
  width: 630px;
  height: 300px;
}

.active-delivery::before {
  content: "";
  position: absolute;
  width: 468px;
  height: 261px;
  top: 23px;
  right: 10px;
  background-position: 0 0;
  background-image: url("/img/car.png");
  background-repeat: no-repeat;
}

.hidden-warranty::before {
  content: "";
  position: absolute;
  width: 389px;
  height: 283px;
  top: 300px;
  right: 5px;
  background-position: 0 0;
  background-image: url("/img/guarantee.png");
  background-repeat: no-repeat;
}

.hidden-credit::before {
  content: "";
  position: absolute;
  width: 465px;
  height: 285px;
  top: 600px;
  right: 5px;
  background-position: 0 0;
  background-image: url("/img/credit.png");
  background-repeat: no-repeat;
}

/*нижняя часть main для index.html*/
.section-info {
  margin-top: 80px;
  margin-bottom: 85px;
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: flex-start;
}

.about-technomart {
  width: 519px;
}

.info-contacts {
  margin-left: 122px;
  width: 300px;
}

.section-info h3 {
  margin-bottom: 25px;
} /*отступы снизу от заголовков section-info*/

.about-technomart p:nth-of-type(1) {
  margin-bottom: 24px;
} /*отступ вниз первых параграфов в section-info*/

.section-info-list {
  margin-top: 23px;

}

.section-info-list li {
  position: relative;
  margin-left: 36px;
}

.section-info-list li::before {
  content: "";
  position: absolute;
  display: block;
  width: 26px;
  height: 3px;
  top: 7px;
  left: -36px;
  background-color: #ee3643;
  text-align: center;
} /*красный индикатор напротив списка section-info-list*/

.info-contacts p {
  margin-bottom: 32px;
}

.info-contacts__map {
  width: 300px;
  height: 158px;
}

.info-contacts img {
  display: block;
  background-color: #797c7e;
} /*блок чтобы убрать отступ, серый фон, если не загрузится изображение*/

.section-info-list li {
  padding-bottom: 20px;
}

.section-info-list li:nth-child(3) {
  padding-bottom: 0px;
  margin-bottom: 37px;
}

.about-technomart a {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  justify-content: stretch;
  width: 220px;
  height: 38px;
  border-radius: 3px;
}

.about-technomart span {
  padding-left: 41px;
}
/*ссылка подробнее о компании секции section-info*/

.info-contacts button {
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 63px;
  padding-right: 59px;
  margin-top: 40px;
  border: 0px;
  border-radius: 3px;
  cursor: pointer;
}/*кнопка напиши нам секции section-info*/

/*футер*/
.footer-site {
min-height: 298px;
}

.footer-address {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: space-between;
}

.addr {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
}

.footer-logo {
  width: 220px;
  padding-top: 18px;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 5px solid #b52933;
}

.footer-catalog .footer-logo:hover {
  background-color: #ca2c37;
}

.footer-catalog .footer-logo:active {
  background-color: #ba2732;
}

.footer-addr {
  width: 330px;
  margin-top: 28px;
}

.nav-footer__list {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
}

.nav-footer__item {
  margin-left: 59px;
}

.nav-footer__item:nth-child(1) {
  margin-left: 62px;
}

.products__list {
  margin-top: 34px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
}

.products__item {
  margin-left: 59px;
}

.products__item:nth-child(1) {
  margin-left: 86px;
}/*верхняя часть футера*/

.copyright {
  padding-top: 34px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
}

.copyright__text {
  margin-top: 2px;
  width: 228px;
  margin-right: 162px;
}

.social__list {
  margin-right: 116px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;

}

.footer-social-icon {
  display: block;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 20px;
}

.icon-vk {
  position: relative;
}

.icon-vk::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 15px;
  top: 13px;
  right: 8px;
  background-position: 0 0;
  background-image: url("/img/icon-vk.svg");
  background-repeat: no-repeat;
}

.icon-fb {
  position: relative;
}

.icon-fb::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 22px;
  top: 10px;
  right: 15px;
  background-position: 0 0;
  background-image: url("/img/icon-fb.svg");
  background-repeat: no-repeat;
}

.icon-tw {
  position: relative;
}

.icon-tw::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 10px;
  right: 11px;
  background-position: 0 0;
  background-image: url("/img/icon-insta.svg");
  background-repeat: no-repeat;
}

.social__item {
  margin-right: 3px;
}

.reverse-link {
  margin-top: 2px;
  width: 284px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
}

.reverse-link__email {
  width: 135px;
}

.reverse-link__site {
  width: 96px;
} /*конец футера*/

/*catalog.html*/

/*часть хедера для catalog.html*/
.registration {
  margin-left: 51px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
}

.registration__login {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  justify-content: stretch;
  width: 299px;
  height: 45px;
}

.active-login::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 13px;
  left: 13px;
  opacity: 0.3;
  background-position: 0 0;
  background-image: url("/img/icon-user.svg");
  background-repeat: no-repeat;
}

.active-login:hover::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 13px;
  left: 13px;
  opacity: 1;
  background-position: 0 0;
  background-image: url("/img/icon-user.svg");
  background-repeat: no-repeat;
}

.active-login {
  padding-bottom: 3px;
  padding-left: 47px;
}

.registration__logout {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 13px;
  right: 11px;
  opacity: 0.3;
  background-position: 0 0;
  background-image: url("/img/icon-logout.svg");
  background-repeat: no-repeat;
}

.registration__logout:hover {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 13px;
  right: 11px;
  opacity: 1;
  background-position: 0 0;
  background-image: url("/img/icon-logout.svg");
  background-repeat: no-repeat;
}

.registration__logout:active {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 13px;
  right: 11px;
  opacity: 0.3;
  background-position: 0 0;
  background-image: url("/img/icon-logout.svg");
  background-repeat: no-repeat;
}

.registration__cabinet a {
  padding-left: 7px;
}

.registration__cabinet::before {
  display: inline-block;
  content: "\2022";
  color: #32425c;
  font-weight: bold;
}

.registration__info {
  width: 208px;
  margin-top: 2px;
  margin-left: 17px;
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: space-between;
}

/*часть main для catalog.html*/
.breadcrumbs-container {
  position: relative;
}

.breadcrumbs {
  margin-top: 17px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  align-items: normal;
  align-content: stretch;
  justify-content: flex-start;
}

.breadcrumbs__item .icon-home {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  top: 7px;
  left: 0px;
  background-position: 0 0;
  background-image: url("/img/icon-home.svg");
  background-repeat: no-repeat;
}

.icon-home::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 0px;
  left: 27px;
  background-position: 0 0;
  background-image: url("/img/icon-right-scrumbs.svg");
  background-repeat: no-repeat;
}

.breadcrumbs__item:nth-child(2) {
  position: relative;
  margin-left: 54px;
}

.breadcrumbs__item:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 7px;
  left: 69px;
  background-position: 0 0;
  background-image: url("/img/icon-right-scrumbs.svg");
  background-repeat: no-repeat;
}

.breadcrumbs__item:nth-child(3) {
  position: relative;
  margin-left: 40px;
}

.breadcrumbs__item:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 7px;
  left: 98px;
  background-position: 0 0;
  background-image: url("/img/icon-right-scrumbs.svg");
  background-repeat: no-repeat;
}

.breadcrumbs__item:nth-child(4) {
  margin-left: 44px;
} /*хлебные крошки*/

.name-page-title {
  width: 940px;
  height: 89px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  justify-content: stretch;
}

.name-page-title h1 {
  margin-top: 2px;
  margin-left: 28px;
}


.section-filter {
  width: 220px;
  margin-top: 20px;
} /*секция фильтр*/

.section-filter .filter-font {
  margin-top: 10px;
  margin-bottom: 14px;
}

.filter-back-range {
  position: relative;
  width: 220px;
  height: 80px;
  background-color: #f7f3ec;
}

.filter-range {
  position: absolute;
  display: block;
  top: 39px;
  left: 20px;
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.filter-range-green {
  position: absolute;
  display: block;
  top: 39px;
  left: 20px;
  width: 152px;
  height: 2px;
  background-color: #00ca74;
}

.filter-range-green::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 22px;
  top: -9px;
  left: 140px;
  background-image: url("/img/filter-button.svg");
  background-repeat: no-repeat;
}

.filter-range-green::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 22px;
  top: -9px;
  left: 0px;
  background-image: url("/img/filter-button.svg");
  background-repeat: no-repeat;
}

.filter-font-range {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color:#000000;
}

.filter-price-wrapper {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: stretch;
}

.filter-price-range {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: stretch;
  margin-top: 9px;
  width: 95px;
  height: 38px;
  background-color:#f7f3ec;
}

.filter-font-range {
  margin-top: 8px;
}

.filter-range-line {
  margin-top: 17px;
  margin-left: 10px;
  margin-right: 10px;
}

.filter-range-left {
  margin-left: 46px;
}

.filter-range-right {
  margin-left: 25px;
}

.background-filter {
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 19px;
  padding-right: 150px;
}

fieldset {
  border: none;
}

.man-filter {
  border-bottom: 1px solid #e5e5e5;
} /*рамка fieldset*/

.man-filter legend {
  padding-top: 15px;
}

.manufacturer__item {
  padding-left: 33px;
  margin-bottom: 20px;
}

.manufacturer__item:nth-of-type(5) {
  padding-bottom: 2px;
}

.power {
  border: none;
}

.power-filter legend  {
  padding-top: 17px;
}

.power__item {
  padding-left: 33px;
  margin-bottom: 20px;
}

.manufacturer__item label {
  position: relative;
  cursor: pointer;
}

.manufacturer__item input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: -2px;
  left: -35px;
  opacity: 0.2;
  background-position: 0 0;
  background-image: url("/img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.manufacturer__item input[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: -2px;
  left: -35px;
  opacity: 0.2;
  background-position: 0 0;
  background-image: url("/img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.manufacturer__item input[type="checkbox"] + label:hover::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: -2px;
  left: -35px;
  opacity: 0.3;
  background-position: 0 0;
  background-image: url("/img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.manufacturer__item input[type="checkbox"]:checked + label:hover::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: -2px;
  left: -35px;
  opacity: 0.3;
  background-position: 0 0;
  background-image: url("/img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.manufacturer__item input[type="checkbox"]:disabled + label,
 .power__item input[type="radio"]:disabled +label {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0.1;
}

.power__item label {
  position: relative;
  cursor: pointer;
}

.power__item input[type="radio"] + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -2px;
  left: -35px;
  opacity: 0.2;
  background-position: 0 0;
  background-image: url("/img/radio-off.svg");
  background-repeat: no-repeat;
}

.power__item input[type="radio"]:checked + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -2px;
  left: -35px;
  opacity: 0.2;
  background-position: 0 0;
  background-image: url("/img/radio-on.svg");
  background-repeat: no-repeat;
}

.power__item input[type="radio"] + label:hover::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -2px;
  left: -35px;
  opacity: 0.3;
  background-position: 0 0;
  background-image: url("/img/radio-off.svg");
  background-repeat: no-repeat;
}

.power__item input[type="radio"]:checked + label:hover::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -2px;
  left: -35px;
  opacity: 0.3;
  background-position: 0 0;
  background-image: url("/img/radio-on.svg");
  background-repeat: no-repeat;
}

/*стилизация фильтра*/

.power-filter button {
  margin-left: -2px;
  margin-top: 59px;
  width: 140px;
  height: 38px;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.main-section {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: flex-start;
} /*обертка для блоков фильтр, сортировки и секции с товаром*/


.section-sort-man {
  width: 700px;
  margin-left: 20px;
  margin-top: 20px;
} /*обертка для блоков сортировки и секции с товаром*/

.section-sort {
  position: relative;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: flex-start;
} /*секция сортировки*/

.sort__caption {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 139px;
} /*заголовок секции*/

.sort__list {
  padding-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: flex-start;
}/*список сортировки*/

.sort__item button {
  padding: 0px;
  background: none;
  border: none;
  border-bottom: 1px dotted #ee3643;
  cursor: pointer;
}

.sort__item:nth-child(1) {
  padding-right: 71px;
}

.sort__item:nth-child(2) {
  padding-right: 65px;
}

.sort__item:nth-child(3) {
  padding-right: 46px;
}

.sort-up {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 15px;
  right: 49px;
  opacity: 0.3;
  background-position: 0 0;
  background-image: url("/img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.sort-up:hover {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 15px;
  right: 49px;
  opacity: 1;
  background-position: 0 0;
  background-image: url("/img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.sort-up:active {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 15px;
  right: 49px;
  opacity: 1;
  background-position: 0 0;
  background-image: url("/img/icon-up-dir-red.svg");
  background-repeat: no-repeat;
}

.sort-down {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 15px;
  right: 17px;
  opacity: 0.3;
  background-position: 0 0;
  background-image: url("/img/icon-down-dir.svg");
  background-repeat: no-repeat;
}

.sort-down:hover {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 15px;
  right: 17px;
  opacity: 1;
  background-position: 0 0;
  background-image: url("/img/icon-down-dir.svg");
  background-repeat: no-repeat;
}

.sort-down:active {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 15px;
  right: 17px;
  opacity: 1;
  background-position: 0 0;
  background-image: url("/img/icon-down-dir-red.svg");
  background-repeat: no-repeat;
}

.section-perforators > .perforators__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
}/*список карточек перфораторов*/

.perforators__item {
  position: relative;
  width: 218px;
  height: 316px;
  margin-top: 20px;
  text-align: center;
  border: 1px solid #e5e5e5;
}/*карточка перфоратора*/

.image-container {
  width: 218px;
  height: 170px;
}

.image-container--hover {
  position: absolute;
  display: none;
  top: 0px;
  width: 218px;
  height: 170px;
}

.image-container--hover button:nth-child(1) {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
  color: #ffffff;
  width: 135px;
  height: 38px;
  margin-top: 44px;
  border: none;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  border-radius: 3px;
  cursor: pointer;
}

.image-container--hover button:nth-child(2) {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  width: 135px;
  height: 38px;
  margin-top: 7px;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 3px;
  cursor: pointer;
}

.image-container--hover button:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 10px;
  left: 12px;
  opacity: 0.3;
  background-position: 0 0;
  background-image: url("/img/cart-icon.svg");
  background-repeat: no-repeat;
}

.image-container--hover button:nth-child(1):hover {
  background-color: #5fbb2d;
}

.image-container--hover button:nth-child(1):hover::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 10px;
  left: 12px;
  opacity: 1;
  background-position: 0 0;
  background-image: url("/img/cart-icon.svg");
  background-repeat: no-repeat;
}


.image-container--hover button:nth-child(1):active {
  background-color: #518534;
  border-bottom: 3px solid #518534;
}

.image-container--hover button:nth-child(1):active::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 10px;
  left: 12px;
  opacity: 1;
  background-position: 0 0;
  background-image: url("/img/cart-icon.svg");
  background-repeat: no-repeat;
}

.image-container--hover button:nth-child(2):hover {
  border: 3px solid #32425c;
}

.image-container--hover button:nth-child(2):active {
  border: 3px solid #32425c;
  opacity: 0.3;
}


.perforators__item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.perforators__item:hover .image-container--hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  background-color: #ffffff;
}

.perforator-name {
  padding-left: 2px;
  margin-top: 9px;
}/*название перфоратора*/

.perforator__old-price {
  padding-top: 13px;
  padding-left: 3px;
} /*старый прайс перфоратора*/

.perforator__price {
  padding-top: 10px;
  content: "";
  position: absolute;
  width: 141px;
  height: 38px;
  bottom: 9px;
  right: 36px;
  background-position: 0 0;
  background-image: url("/img/icon-price.svg");
  background-repeat: no-repeat;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
}

.pagination__item {
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 14px;
  margin-top: 53px;
  margin-bottom: 60px;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
}

.pagination__item:nth-child(4) {
  padding-left: 31px;
  padding-right: 31px;
}

.pagination__item:hover {
  border: 1px solid #bdc6ca;
}

.pagination__item:active {
  border: 1px solid #ee3643;
}

.pagination__item:nth-child(1) {
  background-color: #ee3643;
  border: 1px solid #ee3643;
} /*пагинация*/


.about-perforators {
  padding-top: 67px;
}

.paragraph-perforators {
  padding-bottom: 69px;
} /*конец main catalog.html*/









